<div style="margin:25px;" *ngIf="order">
    <!--Allgemeine Infos zur Bestellung-->
    <h2>Bestellung Nr: {{order.id}} </h2>

    <div style="margin-bottom: 50px;">
        <h4>Bücher:</h4>
        <div  class="item row" *ngFor="let book of order?.books" >
            <h5 style="text-decoration: underline">{{book.title}} {{book.subtitle}}</h5>
        </div>
    </div>

    <div style="margin-bottom: 50px;">
        <h4>Aktueller Status:</h4>
        <p>{{ getState(order.state) }}</p>
    </div>

    <div style="margin-bottom: 50px;">
        <h4>Kommentar:</h4>
        <div class="item row" *ngFor="let orderlog of order.orderlog" >
            {{orderlog.adminComment}}
        </div>

    </div>



    <div style="margin-bottom: 50px;">
        <button class="ui primary button" [routerLink]="['../../order']">Zurück zur Übersicht</button>
    </div>
</div>